apiVersion: kubeadm.k8s.io/v1beta4
bootstrapTokens:
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ localAPIEndpointAddress }}"
  bindPort: "{{ localAPIEndpointPort }}"
nodeRegistration:
  criSocket: "{{ criSocket }}"
  imagePullPolicy: IfNotPresent
  imagePullSerial: true
  name: "{{ ansible_nodename }}"
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
timeouts:
  controlPlaneComponentHealthCheck: 30s
  discovery: 5m0s
  etcdAPICall: 2m0s
  kubeletHealthCheck: 4m0s
  kubernetesAPICall: 1m0s
  tlsBootstrap: 5m0s
  upgradeManifests: 5m0s
---
apiServer:
  certSANs:
{% for host in groups['master'] %}
  - {{ hostvars[host]['k8s_ip'] }}
{% endfor %}
  - {{ k8s_master_ip }}
  - 127.0.0.1
  - {{ clusterName }}
  - {{ clusterName }}.default
  - {{ clusterName }}.default.svc
  - {{ clusterName }}.default.svc.{{ networking_dnsDomain }}
  extraArgs:
  - name: audit-policy-file
    value: /etc/kubernetes/audit-policy.yaml
  - name: audit-log-path
    value: "{{ k8s_auditlog_dir }}"
  - name: audit-log-maxage
    value: "30"
  - name: audit-log-maxbackup
    value: "10"
  - name: audit-log-maxsize
    value: "100"
  - name: authorization-mode
    value: Node,RBAC
  - name: event-ttl
    value: 168h
  - name: kubelet-preferred-address-types
    value: "{{ apiserver_kubelet_preferred_address_types }}"
  - name: service-node-port-range
    value: 100-50000
  extraVolumes:
  - hostPath: /etc/kubernetes/audit-policy.yaml
    mountPath: /etc/kubernetes/audit-policy.yaml
    name: audit-policy
    readOnly: true
  - hostPath: "{{ k8s_auditlog_dir }}"
    mountPath: "{{ k8s_auditlog_dir }}"
    name: audit-logs
    pathType: DirectoryOrCreate
apiVersion: kubeadm.k8s.io/v1beta4
caCertificateValidityPeriod: "{{ caCertificateValidityPeriod }}"
certificateValidityPeriod: "{{ certificateValidityPeriod }}"
certificatesDir: /etc/kubernetes/pki
clusterName: "{{ clusterName }}"
controlPlaneEndpoint: "{{ k8s_master_ip }}:{{ ha_apiserver_port }}"
controllerManager:
  extraArgs:
  - name: bind-address
    value: "{{ controllerManager_bind_address }}"
  - name: cluster-signing-duration
    value: "{{ controllerManager_cluster_signing_duration }}"
  - name: terminated-pod-gc-threshold
    value: "{{ controllerManager_terminated_pod_gc_threshold }}"
dns: {}
encryptionAlgorithm: RSA-2048
etcd:
  local:
    dataDir: "{{ etcdDataDir }}"
featureGates:
  EtcdLearnerMode: false
imageRepository: "{{ __registry_prefix }}/{{ imageRepositoryProject }}"
kind: ClusterConfiguration
kubernetesVersion: "{{ k8s_version }}"
networking:
  dnsDomain: "{{ dnsDomain }}"
  podSubnet: "{{ networking_podSubnet }}"
  serviceSubnet: "{{ networking_serviceSubnet }}"
proxy: {}
scheduler:
  extraArgs:
  - name: bind-address
    value: 0.0.0.0
