apiVersion: v1
kind: ConfigMap
metadata:
  name: sriovdp-config
  namespace: kube-system
data:
  config.json: |
    {
        "resourceList": [
           {
                "resourceName": "app_net_1",
                "selectors": {
                    "vendors": ["8086","14e4"],
                    "devices": ["154c","16dc", "1593","1889"],
                    "drivers": ["iavf","bnxt_en"],
                    "pfNames": ["ens7f0#0-63"]
                }
            },
            {
                "resourceName": "app_net_2",
                "selectors": { 
                    "vendors": ["8086","14e4"],
                    "devices": ["154c","16dc","1593","1889"],
                    "drivers": ["iavf","bnxt_en"],
                    "pfNames": ["ens7f1#0-63"]
                }
            },
            {
                "resourceName": "ext_net_1",
                "selectors": {
                    "vendors": ["8086","14e4"],
                    "devices": ["154c","16dc","1593","1889"],
                    "drivers": ["iavf","bnxt_en"],
                    "pfNames": ["ens7f2#32-63"]
                }
            },
            {
                "resourceName": "ext_net_2",
                "selectors": {
                    "vendors": ["8086","14e4"],
                    "devices": ["154c","16dc","1593","1889"],
                    "drivers": ["iavf","bnxt_en"],
                    "pfNames": ["ens7f3#32-63"]
                }
            },
            {
                "resourceName": "db_net_1",
                "selectors": {
                    "vendors": ["8086","14e4"],
                    "devices": ["1593","16dc","1889"],
                    "drivers": ["iavf","bnxt_en"],
                    "pfNames": ["ens7f3#0-31"]
                }
            },
            {
                "resourceName": "db_net_2",
                "selectors": { 
                    "vendors": ["8086","14e4"],
                    "devices": ["154c","16dc","1593","1889"],
                    "drivers": ["iavf","bnxt_en"],
                    "pfNames": ["ens7f2#0-31"]
                }
            }
        ]
    }