#!/bin/env bash
set -Eeuo pipefail
trap 'echo "[ERROR] common-bootstrap.sh failed at line ${LINENO}: ${BASH_COMMAND}" >&2' ERR

(command -v kubeadm  && kubeadm reset -f) || echo "Host seems to be fresh. Skipping kubeadm reset..."

rm -rf /etc/kube-master-metadata
rm -rf /etc/cni/net.d/*
rm -rf /etc/kubernetes/*
rm -rf /home/*/.kube
rm -rf /root/.kube
sed -i '/KUBECONFIG/d' /root/.bashrc
sed -i '/KUBECONFIG/d' /home/*/.bashrc
systemctl stop kubelet 2> /dev/null || true
{% if 'master' in group_names %}
systemctl disable --now haproxy 2> /dev/null || true
systemctl disable --now keepalived 2> /dev/null || true
{% endif %}
rm -rf /var/lib/etcd
rm -rf {{ etcdDataDir }}

grubby --update-kernel=ALL --args=ipv6.disable=1
echo {{ k8s_ip }} >> /etc/sysconfig/kubeip

cat > /etc/hosts <<'EOF'
127.0.0.1 localhost
{% for i in groups['all'] %}
{{ hostvars[i]['k8s_ip'] }} {{ hostvars[i]['ansible_nodename']  }} {{ hostvars[i]['ansible_hostname'] }}
{% endfor %}
EOF
sed -i '/repository/d' /etc/hosts
sed -i '/{{ registry_name }}/d' /etc/hosts
echo "{{ repo_ip }} repository" >> /etc/hosts
echo "{{ registry_ip }} {{ registry_name }}" >> /etc/hosts

REPO_PORT={{ repo_port | default('80') }}
cat <<EOF | tee /etc/yum.repos.d/kubernetes.repo
[rhel89baseos]
name=rhel89baseos
gpgcheck=0
enabled=1
baseurl=http://repository:$REPO_PORT/rhel89/BaseOS/

[rhel89appstream]
name=rhel89appstream
gpgcheck=0
enabled=1
baseurl=http://repository:$REPO_PORT/rhel89/AppStream/

# [rhel10]
# name=rhel10
# gpgcheck=0
# enabled=1
# baseurl=http://repository:$REPO_PORT/rhel10/BaseOS

[epel8]
name=epel8
gpgcheck=0
enabled=1
baseurl=http://repository:$REPO_PORT/epel8

# [codeready]
# name=codeready
# gpgcheck=0
# enabled=1
# baseurl=http://repository:$REPO_PORT/codeready/

[docker-ce]
name=docker-ce
gpgcheck=0
enabled=1
baseurl=http://repository:$REPO_PORT/docker-ce-rh8

[kubernetes]
name=Kubernetes
baseurl=http://repository:$REPO_PORT/k8s-rh8
enabled=1
gpgcheck=0

# [containerd]
# name=containerd
# baseurl=http://repository:$REPO_PORT/docker8
# enabled=1
# gpgcheck=0
EOF

swapoff -a
modprobe br_netfilter overlay ip_vs ip_vs_rr ip_vs_wrr ip_vs_sh nf_conntrack
cat > /etc/modules-load.d/k8s_kernel_modules.conf <<'EOF'
br_netfilter
overlay
ip_vs
ip_vs_rr
ip_vs_wrr
ip_vs_sh
nf_conntrack
EOF

cat > /etc/sysctl.d/10-kube.conf <<'EOF'
vm.zone_reclaim_mode = 0
fs.file-max = 50000000
vm.swappiness = 10
vm.drop_caches = 0
vm.min_free_kbytes = 2097152
kernel.pid_max = 4194304
net.core.optmem_max = 81920
net.ipv4.ip_local_port_range = 2000 65000
net.ipv4.tcp_fin_timeout = 10
net.ipv4.tcp_synack_retries = 5
net.ipv4.tcp_syn_retries = 6
net.ipv4.tcp_keepalive_time = 300
net.ipv4.tcp_keepalive_probes = 9
net.ipv4.tcp_keepalive_intvl = 75
net.ipv4.tcp_rfc1337 = 1
net.ipv4.conf.all.log_martians = 1
net.ipv4.conf.default.log_martians = 1
net.ipv4.conf.all.rp_filter = 0
net.ipv4.conf.all.send_redirects = 0
net.ipv4.conf.default.send_redirects = 0
net.core.somaxconn = 65535
net.core.netdev_max_backlog = 65535
net.ipv4.tcp_max_syn_backlog = 65535
net.ipv4.tcp_max_tw_buckets = 262144
net.ipv4.tcp_tw_reuse = 0
net.ipv4.tcp_slow_start_after_idle = 0
net.ipv4.udp_rmem_min = 4096
net.ipv4.udp_wmem_min = 4096
net.ipv4.conf.all.accept_source_route = 0
net.ipv4.tcp_rmem = 4096 87380 6291456
net.ipv4.tcp_wmem = 4096 87380 16777216
net.core.rmem_max = 212992
net.core.wmem_max = 212992
net.core.netdev_budget = 1000
net.core.rmem_default = 262144
net.core.wmem_default = 262144
net.ipv4.ip_forward = 1
net.ipv4.ip_nonlocal_bind = 1
net.bridge.bridge-nf-call-ip6tables = 1
net.bridge.bridge-nf-call-iptables = 1
fs.inotify.max_user_instances = 524288
fs.inotify.max_user_watches = 524288
EOF
sysctl --system

dnf install -y container-selinux kubelet kubeadm conntrack socat bash-completion iproute-tc iptables-services

mkdir -p /etc/systemd/system/kubelet.service.d
cat > /etc/systemd/system/kubelet.service.d/10-kubeadm.conf <<'EOF'
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf"
Environment="KUBELET_CONFIG_ARGS=--config=/var/lib/kubelet/config.yaml"
EnvironmentFile=-/var/lib/kubelet/kubeadm-flags.env
EnvironmentFile=-/etc/default/kubelet
ExecStart=
ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_CONFIG_ARGS $KUBELET_KUBEADM_ARGS $KUBELET_EXTRA_ARGS
EOF

cat > /etc/default/kubelet <<'EOF'
KUBELET_EXTRA_ARGS="--node-ip={{ k8s_ip }}"
EOF

{% if cni_prime == 'calico' %}
cat > /etc/NetworkManager/conf.d/calico.conf <<'EOF'
[keyfile]
unmanaged-devices=interface-name:cali*;interface-name:tunl*;interface-name:vxlan.calico;interface-name:vxlan-v6.calico;interface-name:wireguard.cali;interface-name:wg-v6.cali"
EOF
{% endif %}
