apiVersion: v1
kind: Secret
metadata:
  name: es-basic-auth
  namespace: {{ elasticsearch_namespace }}
type: Opaque
data:
  username: {{ elasticsearch_basic_auth.username | b64encode }}
  password: {{ elasticsearch_basic_auth.password | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: es-kibana-auth
  namespace: {{ elasticsearch_namespace }}
type: Opaque
data:
  username: {{ elasticsearch_kibana_auth.username | b64encode }}
  password: {{ elasticsearch_kibana_auth.password | b64encode }}
