apiVersion: v1
kind: ConfigMap
metadata:
  name: sriovdp-config
  namespace: kube-system
data:
  config.json: |
    {
      "resourceList": [
{% for resource in sriov_pf_mappings %}
        {
          "resourceName": "{{ resource.resource }}",
          "selectors": {
            "vendors": {{ (resource.vendors | default(sriov_selector_vendors)) | to_json }},
            "devices": {{ (resource.devices | default(sriov_selector_devices)) | to_json }},
            "drivers": {{ (resource.drivers | default(sriov_selector_drivers)) | to_json }},
            "pfNames": {{ resource.pf_names | to_json }}
          }
        }{% if not loop.last %},{% endif %}
{% endfor %}
      ]
    }
