[Unit]
Description=Prometheus Keepalived Exporter
After=network-online.target keepalived.service
Wants=network-online.target
Requires=keepalived.service

[Service]
Type=simple
User=root
Group=root
ExecStart={{ keepalived_exporter.binary_path }} --web.listen-address={{ keepalived_exporter.listen_address }} {{ keepalived_exporter.extra_args | default('') }}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
