[Unit]
Description=Harbor service with docker-compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ harbor_install_dir }}/

# Compose up
ExecStart=/usr/bin/docker-compose -f {{ harbor_install_dir }}/docker-compose.yml up -d

# Compose down and remove containers
ExecStop=/usr/bin/docker-compose -f {{ harbor_install_dir }}/docker-compose.yml down --remove-orphans

[Install]
WantedBy=multi-user.target
