apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ fluentbit_config_name }}
  namespace: {{ fluentbit_namespace }}
  labels:
    k8s-app: {{ fluentbit_name }}
data:
  fluent-bit.conf: |
{{ (lookup('template', 'conf/fluent-bit.conf.j2') ~ '\n') | indent(4, true) }}
  input.conf: |
{{ (lookup('template', 'conf/input.conf.j2') ~ '\n') | indent(4, true) }}
  filter.conf: |
{{ (lookup('template', 'conf/filter.conf.j2') ~ '\n') | indent(4, true) }}
  output.conf: |
{{ (lookup('template', 'conf/output.conf.j2') ~ '\n') | indent(4, true) }}
  parsers.conf: |
{{ (lookup('template', 'conf/parsers.conf.j2') ~ '\n') | indent(4, true) }}
  multiline.conf: |
{{ (lookup('template', 'conf/multiline.conf.j2') ~ '\n') | indent(4, true) }}
