apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: app-net-1
  annotations:
    k8s.v1.cni.cncf.io/resourceName: intel.com/app_net_1
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "app-net-1",
      "type": "sriov",
      "vlan": 1000
  }'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: app-net-2
  annotations:
    k8s.v1.cni.cncf.io/resourceName: intel.com/app_net_2
spec:
  config: '{
      "cniVersion": "0.3.1",
      "name": "app-net-2",
      "type": "sriov",
      "vlan": 1000
  }'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: ext-net-1
  annotations:
    k8s.v1.cni.cncf.io/resourceName: intel.com/ext_net_1
spec:
  config: '{
      "cniVersion": "0.3.1",
      "name": "ext-net-1",
      "type": "sriov",
      "vlan": 1001
  }'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: ext-net-2
  annotations:
    k8s.v1.cni.cncf.io/resourceName: intel.com/ext_net_2
spec:
  config: '{
      "cniVersion": "0.3.1",
      "name": "ext-net-2",
      "type": "sriov",
      "vlan": 1001
    }'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: db-net-1
  annotations:
    k8s.v1.cni.cncf.io/resourceName: intel.com/db_net_1
spec:
  config: '{
      "cniVersion": "0.3.1",
      "name": "db-net-1",
      "type": "sriov",
      "vlan": 1002
  }'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: db-net-2
  annotations:
    k8s.v1.cni.cncf.io/resourceName: intel.com/db_net_2
spec:
  config: '{
      "cniVersion": "0.3.1",
      "name": "db-net-2",
      "type": "sriov",
      "vlan": 1002
  }'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: app-net
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "app-net",
      "type": "bond",
      "ifname": "app-net",
      "vlan": 1000,
      "mode": "active-backup",
      "failOverMac": 1,
      "linksInContainer": true,
      "miimon": "100",
      "links": [
        {"name": "app-net-1"},
        {"name": "app-net-2"}
      ],
      "ipam": {
        "type": "whereabouts",
        "datastore": "kubernetes",
        "kubernetes": { "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig" },
        "log_file": "/var/log/net-attach-def-app-net.log",
        "log_level": "debug",
        "range": "10.57.217.1/24",
        "exclude": [
           "10.57.217.1/26",
           "10.57.217.65/29",
           "10.57.217.73/29",
           "10.57.217.81/29",
           "10.57.217.89/29"
        ],
        "routes": [{
          "dst": "0.0.0.0/0"
        }],
        "gateway": "10.57.217.1"
      }
}'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: em-app-net
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "em-app-net",
      "type": "bond",
      "ifname": "em-app-net",
      "vlan": 1000,
      "mode": "active-backup",
      "failOverMac": 1,
      "linksInContainer": true,
      "miimon": "100",
      "links": [
        {"name": "app-net-1"},
        {"name": "app-net-2"}
      ],
      "ipam": {
        "type": "whereabouts",
        "datastore": "kubernetes",
        "kubernetes": { "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig" },
        "log_file": "/var/log/net-attach-def-em-app-net.log",
        "log_level": "debug",
        "range": "10.57.217.1/24",
        "range_start": "10.57.217.65",
        "range_end": "10.57.217.67", 
        "routes": [{
          "dst": "0.0.0.0/0"
        }],
        "gateway": "10.57.217.1"
      }
}'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: fep-app-net
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "fep-app-net",
      "type": "bond",
      "ifname": "fep-app-net",
      "vlan": 1000,
      "mode": "active-backup",
      "failOverMac": 1,
      "linksInContainer": true,
      "miimon": "100",
      "links": [
        {"name": "app-net-1"},
        {"name": "app-net-2"}
      ],
      "ipam": {
        "type": "whereabouts",
        "datastore": "kubernetes",
        "kubernetes": { "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig" },
        "log_file": "/var/log/net-attach-def-fep-app-net.log",
        "log_level": "debug",
        "range": "10.57.217.1/24",
        "range_start": "10.57.217.73",
        "range_end": "10.57.217.77", 
        "routes": [{
          "dst": "0.0.0.0/0"
        }],
        "gateway": "10.57.217.1"
      }
}'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: bep-app-net
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "bep-app-net",
      "type": "bond",
      "ifname": "bep-app-net",
      "vlan": 1000,
      "mode": "active-backup",
      "failOverMac": 1,
      "linksInContainer": true,
      "miimon": "100",
      "links": [
        {"name": "app-net-1"},
        {"name": "app-net-2"}
      ],
      "ipam": {
        "type": "whereabouts",
        "datastore": "kubernetes",
        "kubernetes": { "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig" },
        "log_file": "/var/log/net-attach-def-bep-app-net.log",
        "log_level": "debug",
        "range": "10.57.217.1/24",
        "range_start": "10.57.217.81",
        "range_end": "10.57.217.85", 
        "routes": [{
          "dst": "0.0.0.0/0"
        }],
        "gateway": "10.57.217.1"
      }
}'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: media-app-net
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "media-app-net",
      "type": "bond",
      "ifname": "media-app-net",
      "vlan": 1000,
      "mode": "active-backup",
      "failOverMac": 1,
      "linksInContainer": true,
      "miimon": "100",
      "links": [
        {"name": "app-net-1"},
        {"name": "app-net-2"}
      ],
      "ipam": {
        "type": "whereabouts",
        "datastore": "kubernetes",
        "kubernetes": { "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig" },
        "log_file": "/var/log/net-attach-def-media-app-net.log",
        "log_level": "debug",
        "range": "10.57.217.1/24",
        "range_start": "10.57.217.89",
        "range_end": "10.57.217.93", 
        "routes": [{
          "dst": "0.0.0.0/0"
        }],
        "gateway": "10.57.217.1"
      }
}'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: ext-net
#  namespace: test
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "ext-net",
      "type": "bond",
      "ifname": "ext-net",
      "vlan": 1001,
      "mode": "active-backup",
      "failOverMac": 1,
      "linksInContainer": true,
      "miimon": "100",
      "links": [
        {"name": "ext-net-1"},
        {"name": "ext-net-2"}
      ],
      "ipam": {
        "type": "whereabouts",
        "datastore": "kubernetes",
        "kubernetes": { "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig" },
        "log_file": "/var/log/net-attach-def-ext-net.log",
        "log_level": "debug",
        "range": "10.57.218.0/24",
        "exclude": [
           "10.57.218.1/26",
           "10.57.218.65/29",
           "10.57.218.73/29",
           "10.57.218.81/29",
           "10.57.218.89/29"
        ],
        "routes": [{
          "dst": "0.0.0.0/0"
        }],
        "gateway": "10.57.218.1"
      }
}'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: fep-ext-net
#  namespace: test
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "fep-ext-net",
      "type": "bond",
      "ifname": "fep-ext-net",
      "vlan": 1001,
      "mode": "active-backup",
      "failOverMac": 1,
      "linksInContainer": true,
      "miimon": "100",
      "links": [
        {"name": "ext-net-1"},
        {"name": "ext-net-2"}
      ],
      "ipam": {
        "type": "whereabouts",
        "datastore": "kubernetes",
        "kubernetes": { "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig" },
        "log_file": "/var/log/net-attach-def-fep-ext-net.log",
        "log_level": "debug",
        "range": "10.57.218.1/24",
        "range_start": "10.57.218.65",
        "range_end": "10.57.218.69", 
        "routes": [{
          "dst": "0.0.0.0/0"
        }],
        "gateway": "10.57.218.1"
      }
}'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: media-ext-net
#  namespace: test
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "media-ext-net",
      "type": "bond",
      "ifname": "media-ext-net",
      "vlan": 1001,
      "mode": "active-backup",
      "failOverMac": 1,
      "linksInContainer": true,
      "miimon": "100",
      "links": [
        {"name": "ext-net-1"},
        {"name": "ext-net-2"}
      ],
      "ipam": {
        "type": "whereabouts",
        "datastore": "kubernetes",
        "kubernetes": { "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig" },
        "log_file": "/var/log/net-attach-def-media-ext-net.log",
        "log_level": "debug",
        "range": "10.57.218.1/24",
        "range_start": "10.57.218.73",
        "range_end": "10.57.218.77", 
        "routes": [{
          "dst": "0.0.0.0/0"
        }],
        "gateway": "10.57.218.1"
      }
}'

---
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: db-net
#  namespace: test
spec: 
  config: '{
      "cniVersion": "0.3.1",
      "name": "db-net",
      "type": "bond",
      "ifname": "db-net",
      "vlan": 1002,
      "mode": "active-backup",
      "failOverMac": 1,
      "linksInContainer": true,
      "miimon": "100",
      "links": [
        {"name": "db-net-1"},
        {"name": "db-net-2"}
      ],
      "ipam": {
        "type": "whereabouts",
        "datastore": "kubernetes",
        "kubernetes": { "kubeconfig": "/etc/cni/net.d/whereabouts.d/whereabouts.kubeconfig" },
        "log_file": "/var/log/net-attach-def-db-net.log",
        "log_level": "debug",
        "range": "10.57.219.0/24",
        "exclude": [
           "10.57.219.0/26",
           "10.57.219.65/29",
           "10.57.219.73/29",
           "10.57.219.81/29",
           "10.57.219.89/29"
        ],
        "routes": [{
          "dst": "0.0.0.0/0"
        }],
        "gateway": "10.57.219.1"
      }
}'